.lead {
  max-width: 984px;
  text-align: center;
  margin: 56px auto 0;
}

@media (max-width: 1024px) {
  .lead {
    margin-top: 48px;
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}
